@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap'); /* font-family : 'Roboto', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@100;300;500&display=swap'); /* 'Dancing Script', cur */

:root{
    --selection: #f9ca24;
    --selection-text: #333;
    --yellow: #f9ca24;
    --gray: #333;
    --header: #1a1a1a;
    --header-color: #fff;
    --menu-icon: #fff;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all .25s linear;
}
::selection{
    background: var(--selection);
    color: var(--color);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.5rem;
}
html::-webkit-scrollbar-track{
    background: var(--gray);
}
html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}
body{
    background: var(--gray);
    overflow-x: hidden;
}
/* STYLE DU HEADER */
header{
    background: var(--header);
    color: var(--header-color);
    position: fixed;
    top: 0; left: 0; 
    z-index: 1000;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    height: 100%; width: 33.7rem;
    flex-flow: column;
}
header .utilisateur img{
    border: solid .6rem var(--yellow);
    height: 17rem; width:17rem;
    border-radius: 50%;
    /* object-fit: cover;
    -webkit-object-fit: cover;
    -o-object-fit: cover; */
}
header .utilisateur .nom{
    font-size: 2.7rem;
}
header .utilisateur p{
    font-size: 2.8rem;
    font-family: 'Tangerine' ,sans-serif;
}
header .navbar{
    width: 100%;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
header .navbar ul a{
    color:var(--header-color);
    background: var(--gray);
    display: block;
    font-size: 1.9rem;
    border-radius: 5rem;
    text-decoration: none;
    padding: .8rem;
    margin: 1.5rem 0;
    font-family: 'Dancing Script', cur;
  
}
header .navbar ul a:hover{
    background: var(--yellow);
    color: black;
    font-weight: bold;
}
/* END HEADER */

/* MENU ICON */
    #menu{
        color: var(--menu-icon); 
        position: fixed;  
        top:2rem; right:2rem;
        background: var(--gray); 
        padding: 1rem 1.5rem;
        z-index: 1000;
        cursor: pointer;
        display: none;
    }
/* END MENU ICON */

/* Media Queries */

@media screen and (max-width: 1200px) {
    html{
        font: 55%;
    }
}

@media screen and (max-width: 991px) {
    header{
        left: -100%;
    }
    #menu{
        display: block;
    }
}

@media screen and (max-width: 322px) {
    header{
        height: 100%; width: 28.7rem;
    }
}