@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap'); 
@import url('card.css');

:root{
    --white: #fff;
    --black: #000;
    --black-2 : #222;
    --selection: #f9ca24;
    --yellow: #f9ca24;
    --gray: #333;
    --gray-2: #444;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all .25s linear;
}
::selection{
    background: var(--selection);
    color: var(--white);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.5rem;
}
html::-webkit-scrollbar-track{
    background: var(--gray);
}
html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}
body{
    background: var(--gray);
    overflow-x: hidden;
    margin-left: 35rem;
}
/* STYLE DU HEADER */
header{
    background: var(--black-2);
    color: var(--white);
    position: fixed;
    top: 0; left: 0; 
    z-index: 1000;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    height: 100%; width: 33.7rem;
    flex-flow: column;
}
header .utilisateur img{
    border: solid .6rem var(--yellow);
    height: 17rem; width:17rem;
    border-radius: 50%;
}
header .utilisateur .nom{
    font-size: 2.7rem;
}
header .utilisateur p{
    font-size: 2.8rem;
    font-family: 'Tangerine' ,sans-serif;
}
header .navbar{
    width: 100%;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
header .navbar ul a{
    color:var(--white);
    background: var(--gray);
    display: block;
    font-size: 1.9rem;
    border-radius: 5rem;
    text-decoration: none;
    padding: .8rem;
    margin: 1.5rem 0;
    font-family: 'Dancing Script', cur;
  
}
header .navbar ul a:hover{
    background: var(--yellow);
    color: black;
    font-weight: bold;
}
/* END HEADER */

/* MENU ICON */
#menuIcon{
    color: var(--white); 
    position: fixed;  
    top:2rem; right:2rem;
    background: var(--gray-2);
    padding: 1.1rem 1.5rem;
    z-index: 1000;
    cursor: pointer;
    display: none;
    font-size: 1.9rem;
    border-radius : 6px;
}
/* END MENU ICON */

/* Style home */
section{
    min-height: 100vh;
    padding: 1rem;
}
.home{
    display: flex;
    justify-content:center;
    padding: 0 15rem;
    align-items: center;
    flex-flow: column
}
.home h2,h2, h3, p, button {
    color: var(--white);
}
.home h2{
    font-size: 3rem;
}
.home h3{
    font-size: 2.5rem;
}
.home p{
    font-size: 2rem;
    padding: 1rem 0;
}

 span{
    color: var(--yellow);
}
.btn{
    background-color: var(--gray-2);
    color: var(--white);
    padding: .6rem 1.1rem;
    border: solid 1px var(--yellow);
    border-radius: 5rem;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 2rem;
}
.btn:hover{
    background-color: var(--yellow);
    color: var(--black);
    border: solid 1px var(--white);
}
.home .btn i{
    font-size: 1.8rem;
    padding: 0 .6rem;
    color: var(--white);
}
.home .btn:hover i{
    color: var(--gray);
    transition: all .1s linear;
}
/* End Style home */

/* Starts about style section */
.heading{
    font-size: 4rem;
    margin: 0 .5rem;
    padding: 1rem;
    text-align: center;
    border-bottom: solid .2rem #fff4;
}
.about .row {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.about .row .info{
    padding: 2rem 1rem;
    padding-left: 6rem;
    flex: 1 1 48rem;
}

.about .row .info h3{
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}
.about .row h3 span{
    font-size: 2rem;
    color: var(--white);
    padding: 1rem 0;
    font-weight: normal;
}
.about .row .counter{
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    flex: 1 1 48rem;
    flex-wrap: wrap;
}
.about .row .counter .box{
    background: var(--black-2);
    width : 18rem;
    border: .1rem dotted var(--yellow);
    opacity: .9;
    border-radius: 4rem 0 4rem 0;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
}
.about .row .counter .box span{
    font-size: 4rem;
}
.about .row .counter .box h3{
    font-size: 2rem;
}
/* End about style section */

/*  Education style section */
    .education .box-container{
        display : flex;
        justify-content : space-between;
        flex-wrap : wrap;
        text-align : center;
        padding : 1rem 0;
        padding-left : 3rem;
    }
    .education .box-container .box{
        width: 27rem;
        height:4rem 1rem;
        padding-left:2rem;
        margin-bottom: 25rem;
        border-left: solid .3rem var(--white);
        position: relative;
        margin: 2rem .1rem;
    }
    .education .box-container .box span{
        color: var(--white);
        background-color: var(--gray-2);
        font-size: 1.1rem;
        padding: 1.5rem 2.5rem;
        border-radius: 5rem;
    }
    .education .box-container .box h3{
        color: var(--white);
        font-size: 2rem;
        padding-top: 2.5rem;
    }
    .education .box-container .box p{
        color: var(--white);
        font-size: 1.4rem;
        padding: 1rem 0;
    }
    .education .box-container .box i{
        background-color: var(--yellow);
        color: var(--gray-2);
        position: absolute;
        /* left: -2.5rem; top: -1.5rem; */
        left: -2.3rem; top: -1.5rem;
        width: 5rem; height: 5rem;
        border-radius: 50%;
        line-height: 5rem;
        font-size: 2rem;
    }
/*  End Education style section */

/* porfolio style section */
.portfolio .box-container{
    display : flex;
    justify-content : space-between;
    flex-wrap : wrap;
    text-align : center;
    justify-content: center;
    padding : 2rem 0;
}
.portfolio .box-container .box{
    height: 22rem; width: 25rem;
    overflow: hidden;
    margin: 2rem 3rem;
    border-radius: 3rem;
    border-bottom: solid .3rem var(--white);
    border-top: solid .3rem var(--yellow);
    justify-content: center;
    /* margin-left: 2rem; */
}
.portfolio .box img{
    width: 100%; height: 100%;
    object-fit: cover;
    transform: scale(.81);
    border-radius: 3rem;
}
.portfolio .box img:hover{
    transform: scale(1);
}
.portfolio .box img:hover+p{
    color: var(--black) !important;
    transform: translate(6.5rem, -25rem);
}
.portfolio .box p{
    color: var(--black);
    background-color: var(--yellow);
    border-radius: 3rem;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    transform: translate(6.5rem, -23rem);
    font-family: 'Dancing Script', cur;
    font-weight: 500;
    padding: .1rem .5rem;
    letter-spacing: .5rem;
}

/* End porfolio style section */

/* Media Queries */
@media screen and (max-width: 1200px) {
    html{
        font: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}

@media screen and (max-width: 991px) {
    header{
        left: -105%;
    }
    #menuIcon{
        display: block;
    }
    header.toggle{
        left: 0%;
    }
    body {
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 50%;
    }
    header .navbar ul a{
        padding: 1rem;
        margin: 1.1rem 0;
        font-size: large;
         
    }
}

@media screen and (max-width: 420px) {
    header{
        width: 100%;
    }
    .heading{
        margin: 0 .3rem;
    }
    /* .about .row .counter .box{
        width: 100%;
    } */
    .education .box-container .box{
        width: 100%;
        padding:1rem 8rem;
        padding-left: 3rem;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-width: 320px) {
    header{
        height: 100%; ;
    }
    .heading{
        margin: 0 .3rem;
    }
    .about .row .counter .box{
        width: 100%;
    }
}